[Desktop Entry]
Name=i2pbrowser
Name[bg]=i2pbrowser
Name[ca]=i2pbrowser
Name[cs]=i2pbrowser
Name[el]=i2pbrowser
Name[es]=i2pbrowser
Name[fa]=i2pbrowser
Name[fi]=i2pbrowser
Name[fr]=i2pbrowser
Name[hu]=i2pbrowser
Name[it]=i2pbrowser
Name[ja]=i2pbrowser
Name[ko]=i2pbrowser
Name[nb]=i2pbrowser
Name[nl]=i2pbrowser
Name[nn]=i2pbrowser
Name[no]=i2pbrowser
Name[pl]=i2pbrowser
Name[pt]=i2pbrowser
Name[pt_BR]=i2pbrowser
Name[ru]=i2pbrowser
Name[sk]=i2pbrowser
Name[sv]=i2pbrowser
Comment=Browse the World Wide Web
Comment[bg]=Сърфиране в Мрежата
Comment[ca]=Navegueu per el web
Comment[cs]=Prohlížení stránek World Wide Webu
Comment[de]=Im Internet surfen
Comment[el]=Περιηγηθείτε στον παγκόσμιο ιστό
Comment[es]=Navegue por la web
Comment[fa]=صفحات شبکه جهانی اینترنت را مرور نمایید
Comment[fi]=Selaa Internetin WWW-sivuja
Comment[fr]=Navigue sur Internet
Comment[hu]=A világháló böngészése
Comment[it]=Esplora il web
Comment[ja]=ウェブを閲覧します
Comment[ko]=웹을 돌아 다닙니다
Comment[nb]=Surf på nettet
Comment[nl]=Verken het internet
Comment[nn]=Surf på nettet
Comment[no]=Surf på nettet
Comment[pl]=Przeglądanie stron WWW
Comment[pt]=Navegue na Internet
Comment[pt_BR]=Navegue na Internet
Comment[ru]=Обозреватель Всемирной Паутины
Comment[sk]=Prehliadanie internetu
Comment[sv]=Surfa på webben
GenericName=Web Browser
GenericName[bg]=Интернет браузър
GenericName[ca]=Navegador web
GenericName[cs]=Webový prohlížeč
GenericName[de]=Webbrowser
GenericName[el]=Περιηγητής ιστού
GenericName[es]=Navegador web
GenericName[fa]=مرورگر اینترنتی
GenericName[fi]=WWW-selain
GenericName[fr]=Navigateur Web
GenericName[hu]=Webböngésző
GenericName[it]=Browser Web
GenericName[ja]=ウェブ・ブラウザ
GenericName[ko]=웹 브라우저
GenericName[nb]=Nettleser
GenericName[nl]=Webbrowser
GenericName[nn]=Nettlesar
GenericName[no]=Nettleser
GenericName[pl]=Przeglądarka WWW
GenericName[pt]=Navegador Web
GenericName[pt_BR]=Navegador Web
GenericName[ru]=Интернет-браузер
GenericName[sk]=Internetový prehliadač
GenericName[sv]=Webbläsare
X-GNOME-FullName=i2pbrowser Web Browser
X-GNOME-FullName[bg]=Интернет браузър (i2pbrowser)
X-GNOME-FullName[ca]=Navegador web i2pbrowser
X-GNOME-FullName[cs]=i2pbrowser Webový prohlížeč
X-GNOME-FullName[el]=Περιηγήτης Ιστού i2pbrowser
X-GNOME-FullName[es]=Navegador web i2pbrowser
X-GNOME-FullName[fa]=مرورگر اینترنتی i2pbrowser
X-GNOME-FullName[fi]=i2pbrowser-selain
X-GNOME-FullName[fr]=Navigateur Web i2pbrowser
X-GNOME-FullName[hu]=i2pbrowser webböngésző
X-GNOME-FullName[it]=i2pbrowser Browser Web
X-GNOME-FullName[ja]=i2pbrowser ウェブ・ブラウザ
X-GNOME-FullName[ko]=i2pbrowser 웹 브라우저
X-GNOME-FullName[nb]=i2pbrowser Nettleser
X-GNOME-FullName[nl]=i2pbrowser webbrowser
X-GNOME-FullName[nn]=i2pbrowser Nettlesar
X-GNOME-FullName[no]=i2pbrowser Nettleser
X-GNOME-FullName[pl]=Przeglądarka WWW i2pbrowser
X-GNOME-FullName[pt]=i2pbrowser Navegador Web
X-GNOME-FullName[pt_BR]=Navegador Web i2pbrowser
X-GNOME-FullName[ru]=Интернет-браузер i2pbrowser
X-GNOME-FullName[sk]=Internetový prehliadač i2pbrowser
X-GNOME-FullName[sv]=Webbläsaren i2pbrowser
Exec=/usr/bin/I2PBrowser-Debug.sh %u
Terminal=false
X-MultipleArgs=false
Type=Application
Icon=firefox-esr
Categories=Network;WebBrowser;
MimeType=text/html;text/xml;application/xhtml+xml;application/xml;application/vnd.mozilla.xul+xml;application/rss+xml;application/rdf+xml;image/gif;image/jpeg;image/png;x-scheme-handler/http;x-scheme-handler/https;
StartupWMClass=Firefox-esr
StartupNotify=true
